module opai-hinge

go 1.27

require (
	github.com/EdSan845D/oapi-hinge v0.2.0
	github.com/EdSan845D/oapi-hinge/servergin v0.2.0
	github.com/EdSan845D/oapi-hinge/validator v0.2.0
	github.com/gin-gonic/gin v1.12.0
)
